
* {
    box-sizing: border-box;
}
body
{
    margin: 0px;
    overflow-x: hidden; 
}

/* HEADER & NAVIGATION */

 header {
 	width: 100%;
 	padding-top: 0px;
 	margin-bottom: 775px;
 	position: absolute;
 	top: 0;
 	left: 0;
    z-index: 1;
 }


 #headerWrap {
 	width: 90%;

 	margin: 0px auto;
 	background-color: #FFF;
 }

 #logo {
 	position: absolute;
 	top: 20px;
 }

 #logo img {
 	width: 110px;
 }

 #navigation {
 	width: 1920px;
 	height: 100px;
 	padding: 400px;
 	float: left;
 	padding-top: 40px;
 	

 }

 #navigation a {
 	color: #fff;


 }

 #navigation a:hover {
 	color: #FFF;
 	opacity: 0.8;
 }

 #navigation img {
 	width: 15px;
 }

 #navigation ol {
 	padding: 0px;
 	margin: 0px;
 	list-style-type: none;


 }

 #navigation ol li {

 	font-family: 'Montserrat', sans-serif;
 	font-size: 16px;
 	margin-right: 45px;
 	color: white;

 }

 .dropDownSymbol {
 	width: 10px;
 }


 .dropbtn {
 	background-color: transparent;
 	
 	padding: 15px;
 	border:none;
 }


 .dropdown {
 	display: inline-block;


 }

 .dropdown-content {
 	display: none;
 	position: absolute;
 	background-color: #4c8296;
 	min-width: 150px;
 	z-index: 1;

 }

 .dropdown-content a {
 	color: white;
 	padding:12px 16px;
 	text-decoration: none;
 	display: block;
 }

 .dropdown:hover .dropdown-content {display:block;}

 .dropdown:hover .dropbtn {background-color:transparent;}

 .dropdown-content a:hover {background-color: transparent;}

.main{
  background-color: #DEECF1; 
  height: 1000px;
   width: 100%; 
   position: relative; 
  padding-top: 250px;

}

.medlem {
	
	margin-bottom: 200px;
}

.fordelcontainer {
    margin-right: auto;
    margin-left: auto;
   
    width: 950px;

}



.fordel {
    padding-left: 10px;
    padding-right: 10px;
    width: 550px;
    float: left;
    color: #fff;
    background: rgb(96,163,188);
background: linear-gradient(58deg, rgba(96,163,188,1) 2%, rgba(102,193,201,1) 97%);  
overflow: hidden;
height: 600px;
padding-top: 25px;

}


.img-container {
    min-height: 150px;
    position: relative;
     margin-top: 85px;

}

.img-container img {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-bottom: 20px;

}



.blivmedmedlem{
    width: 400px;
    float: left;
    
    padding: 15px 50px 0 50px;
    height: 600px;
    background: #f3f1ef;
    color: #4c4c4c;

}



h3 {
    font-weight: bold;
    font-size: 21px;
    line-height: 30px;
   
    text-align: center;
}

p{
	text-align: center;
}

a {
	text-decoration: none;
}




/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin-top: -100px;
}


/* Hide the images by default */
.img-container{
    display: none;
 
}




.texttilfordel {
	padding-top: 300px;
	padding-left: 90px;
	padding-right: 90px;
	text-align: center;

}

h2 {
    font-size: 21px;
    
}




/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active{
  background-color: #6c6c6d;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}


.form-control
{

  width:300px;
  background:transparent;
  border:none;
  outline:none;
  border-bottom:2px solid white;
  color: #4c4c4c;
  font-size:10px;
  margin-bottom:10px;

}


input[type=checkbox] {
	margin-bottom: 20px;
    margin-top: 16px;

    

}

form .submit
{
  background-color:#60A3BC;
  border-color: none;
  color: white;
  font-size: 15px;
  font-weight:  bold;
  letter-spacing: 2px;
  height:40px;
  margin-top:20px;
  cursor: pointer;
  text-align: center;
  padding-top: 10px;
  border-radius: 5px;
}

form .submit:hover
{
  background-color: #4c8296;
  cursor:pointer;
}



.column {
  float: left;
  width: 50%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}




/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    color: #4c4c4c;
    margin: auto;
line-height: 20px;
    padding: 30px;
    border: 1px solid #888;
    width: 50%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}





/* FOOTER */

		#footerContainer {
			background-color: #60A3BC;
			width: 100%;
      font-family: montserrat;
			padding-right: 4.5%;
			padding-left: 8%;
			position: relative;
			
			padding-top: 1%;
			padding-bottom: 2%;
			
			height: 80px;
			color: #FFF;
			font-weight: bold;


		}

		#footerContainer table {
			width: 100%;
		}

		#footerContainer table tr td {
			vertical-align: middle;
		}

		#footerContainer table tr td img {
			width: 15px;
		}

		footer {
			width: 100%;
			   font-family: montserrat;
			padding-right: 9%;
			padding-left: 8%;
			position: relative;
			
			padding-top: 1%;
			padding-bottom: 2%;
			
			background-color: #fff;
			color: #707070;
			height: 100px;
		}

		footer table {
			width: 100%;
		}



