






.containers {
  width: 100%;
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: black;
}



.count {
  margin: 20px 0;
}

.countd {
  display: inline-block;
  width: 60px;
  height: 60px;
  border: 2px solid;
  margin: 0 30px;
  font-size: 10px;
  border-radius: 50%;
  overflow: hidden;
  font-family: verdana;
}

.countd span{
  display: block;
  font-size: 22px;
  margin-top: 8px;
}
