/* GENERAL TAGS */

body {
	background-color: white;
	font-family: 'Montserrat', sans-serif;
	font-color: #505050;
	overflow-x: hidden;
}

a {
	text-decoration: none;
}

a:hover {
	opacity: 0.8;
	text-decoration: none;
}

ul {
	list-style-type: none;
}

/* HEADER TAGS - ONLY USE H1 ON FRONT PAGES */

h1 {
	font-size: 60px;
	color: #FFF;
	line-height: 50px;
	font-family: 'Montserrat', sans-serif;
}

h2 {
	font-size: 30px;
	color: #505050;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
}

h3 {
	color: #505050;
	font-family: 'Montserrat', sans-serif;
	text-align: left;
	margin-left: 4%;
	font-weight: bold;
}

h6 {
	font-size: 30px;
	color: white;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
}


/* HEADER & NAVIGATION */

.header {
	width: 100%;
	height: 125px;
	padding-top: 0px;
	margin-bottom: 775px;
	position: absolute;
	top: 0;
	left: 0;
}


main {
	margin-top: -15px;
}

#headerWrap {
	width: 90%;
	margin: 0px auto;
	background-color: #FFF;
}

#logo {
	position: absolute;
	top: 0px;
	left: 4%;
	top: 5px;
	z-index: 5;
    position: fixed;
}

#logo img {
	width: 150px;
}


#navigation {
	width: 900px;
	padding: 7px;
	float: right;
	position: fixed;
	top: 65px;
	right: 2.5%;
	z-index: 5;
}

#navigation a {
	color: #FFF;
}

#navigation a:hover {
	color: #FFF;
	opacity: 0.8;
}

#navigation img {
	width: 15px;
}

#navigation ol {
	padding: 0px;
	margin: 0px;
	list-style-type: none;


}

#navigation ol li {

	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	margin-right: 45px;
	color: white;
}

.dropDownSymbol {
	width: 10px;
}


.dropbtn {
	background-color: transparent;
	color: white;
	padding: 15px;
	border:none;

}


.dropdown {
	display: inline-block;

}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: transparent;
	min-width: 150px;
	z-index: 1;
}

.dropdown-content a {
	color: white;
	padding:12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown:hover .dropdown-content {display:block;}

.dropdown:hover .dropbtn {background-color:transparent;}

.dropdown-content a:hover {background-color: transparent;}

/* FRONT PAGE PRESENTATION */

#introductionBG {
	height: 900px;
	width: 125px;
	z-index: -1;
}

.introduction {
	width: 100%;
	height: 1010px;
	font-color: #FFF;
	background-color: black;
	position: absolute;
	left: 0;
	top: 0;
	border-collapse: collapse;
	margin-top: -10px;
	z-index: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.introductionWrap {
	width: 100%;
	margin: 0px auto;
	color: #FFF;

}





#h5 {
  float:right;
  font-size: 50px;
  font-family: arial;
  text-align: center;
  margin: 0 2.5%;
  padding: 20px;
  width:20%;
  box sizing: border-box;
  border-radius: 20px;
}

#shortcutButtonWrap {
 margin: 0px auto;
 width: 475px;
 height: 44px;
 padding: 0px;
}

#shortcutButtonWrap li {
	width: 150px;
	font-size: 16px;
	padding: 10px;
	padding-right: 15px;
	padding-left: 15px;
	color: #FFF;
	background-color: #B61209;
	float: left;
	margin-top: -10px;
	margin-right: 15px;
	border-radius: 10px;
	position: relative;
	z-index: 1;
}


 .shortcutButton1 /*BLIV FRIVILLIG*/ {
 	font-size: 16px;
 	padding: 10px;
 	padding-right: 15px;
 	padding-left: 15px;
 	color: #fff;
 	background-color: #BD2B23;
 	float: left;
 	margin-right: 15px;
 	border-radius: 10px;
 	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
 	filter: saturate(100%);
 }

 .shortcutButton1 a {
 	color: #FFF;
 }

 .shortcutButton2 /*KRÆMMERMARKED*/ {
 	font-size: 16px;
 	padding: 10px;
 	padding-right: 15px;
 	padding-left: 15px;
 	color: black;
 	background-color: white;
 	float: right;
 	margin-right: 15px;
 	border-radius: 10px;
 	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
 	filter: saturate(100%);
 }

 .shortcutButton2 a {
 	color: #000;
 }

 .shortcutButton1 a:hover {
 	filter: saturate(200%);
 }

 .shortcutButton2 a:hover {
 	filter: saturate(200%);
 }


.shortcutButton2 /*KRÆMMERMARKED*/ {
	width: 200px;
	font-size: 16px;
	padding: 10px;
	padding-right: 15px;
	padding-left: 15px;
	color: #000;
	background-color: #FFF;
	float: left;
	margin-right: 15px;
	border-radius: 10px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
	z-index: -1;
}

.shortcutButton2 a {
	color: #000;
	opacity: 1;
	z-index: 99;
}


#blivfrivillig {
	background-color: #9FB5BE;
}

#borgerforening {
	background-color: #9FB5BE;
}

/* DOWN ARROW BOUNCER */

.downArrow{
	z-index: 99;
	position: relative;
	top: 880px;
  	left: 48.5%;

}
.bounce {
	-moz-animation: bounce 2s infinite;
	-webkit-animation: bounce 2s infinite;
	animation: bounce 2s infinite;
}
@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

/* CONTENT BLOCKS */

.content {
	width: 87.4%;
	padding-right: 7%;
	padding-left: 8%;
	position: relative;
	left: -2%;
	padding-top: 1%;
	padding-bottom: 2%;
	margin: 0px auto;
}

.salestag {
	width: 80px;
	height: 35px;
	border-radius: 50%;
	background-color: #60A3BC;
	text-align: center;
	padding-top: 15px;
	color: #FFF;
	font-weight: bold;
	position: relative;
	top: 35px;
	left: 365px;
	z-index: 99;
}

.threecolumns {
	width: 24.5%;
	margin-right: 10.2%;
	padding-right: 2%;
	float: left;
	text-align: center;
}

.threecolumns img {
	margin: 0px auto;
	border-radius: 3%;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.threecolumns p h3 {
	padding-right: 10%;
	padding-left: 10%;
}

.twocolumns {
	width: 42.5%;
	margin-right: 14.2%;
	padding-right: -5%;
	float: left;
	text-align: left;
}

.twocolumns img {
	margin: 0px auto;
	border-radius: 3%;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.twocolumns p {
	width: 653px;
}

.twocolumns h3 {
	margin-left: 0px;
}

#third table {
	border-spacing: 100px;
    -webkit-border-horizontal-spacing: 100px;
    -webkit-border-vertical-spacing: 0px;
}

#third table tr td {
	background-color: #FFF;
	width: 370px;
	height: 100px;
	padding: 20px;
	margin-right: 10%;
	font-size: 30px;
	text-align: center;
	border-radius: 3%;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}



.container {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: black;
}


.count {
  margin: 40px 0;
}

.countd {
  display: inline-block;
  width: 80px;
  height: 80px;
  border: 2px solid;
  margin: 0 30px;
  font-size: 12px;
  border-radius: 50%;
  overflow: hidden;
}

.countd span{
  display: block;
  font-size: 20px;
  margin-top: 14px;
}
/* Slideshow container */
.slideshow-container {
  max-width: 1900px;
  position: relative;
  margin: auto;
  margin-top: 70px;

}


/* Hide the images by default */
.mySlides {
    display: none;
     margin-left: 100px;
      margin-right: 100px;
}


/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 16.66%;
  padding: 5px;
  box-sizing:border-box;
}

.columntwo {
  float: left;
  width: 20%;
  padding: 5px;
  box-sizing:border-box;
}

/* Clear floats after image containers */
.row1::after {
  content: "";
  clear: both;
  display: table;
}
.row2::after {
  content: "";
  clear: both;
  display: table;
}

.row2{
  padding-left: 110px;
}
.row1{

  padding-left: 80px;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;

  margin-top: -22px;
  padding: 16px;
  color:#bbb;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;


}

/* Position the "next button" to the right */
.next {
  right: 0;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  color: #717171;
}


/* The dots/bullets/indicators */
.dot {
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  margin-bottom: 50px;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}




/* FOOTER */

#footerContainer {
	background-color: #BD2B23;
	width: 87%;
	padding-right: 7%;
	padding-left: 8%;
	position: relative;
	left: -1%;
	padding-top: 0.6%;
	padding-bottom: 1%;
	margin: 0px auto;
	height: 20px;
	color: #FFF;
	font-weight: bold;
}

#footerContainer table {
	width: 101.5%;
}

#footerContainer table tr td {
	vertical-align: middle;
}

#footerContainer table tr td img {
	width: 10px;
}

footer {
	width: 102%;
	padding-right: 7%;
	padding-left: 8%;
	position: relative;
	left: -1%;
	padding-top: 1%;
	padding-bottom: 2%;
	margin: 0px auto;
	background-color: #D4D4D4;
	color: #707070;
	height: 100px;
}

footer table {
	width: 83%;
}

footer table tr td {
	width: 39%;
	padding-right: 10%;
    padding-top: 0.5%;
}

