

 body {
 margin:0;
 padding:0;
 text-align: center;
 font-family: 'Montserrat', sans-serif;
 }


 /* HEADER & NAVIGATION */

 .header {
 	width: 100%;
 	height: 125px;
 	padding-top: 0px;
 	margin-bottom: 775px;
 	position: absolute;
 	top: 0;
 	left: 0;
 }


 #headerWrap {
 	width: 90%;
 	margin: 0px auto;
 	background-color: #FFF;
 }

 #logo {
 	position: absolute;
 	top: 0px;
 	left: 4%;
 	top: 5px;
 	z-index: 5;
     position: fixed;
 }

 #logo img {
 	width: 150px;
 }


 #navigation {
 	width: 900px;
 	padding: 7px;
 	float: right;
 	position: fixed;
 	top: 65px;
 	right: 2.5%;
 	z-index: 5;
 }

 #navigation a {
 	color: #FFF;
 }

 #navigation a:hover {
 	color: #FFF;
 	opacity: 0.8;
 }

 #navigation img {
 	width: 15px;
 }

 #navigation ol {
 	padding: 0px;
 	margin: 0px;
 	list-style-type: none;


 }

 #navigation ol li {

 	font-family: 'Montserrat', sans-serif;
 	font-size: 16px;
 	margin-right: 45px;
 	color: white;
 }

 .dropDownSymbol {
 	width: 10px;
 }


 .dropbtn {
 	background-color: transparent;
 	color: white;
 	padding: 15px;
 	border:none;

 }


 .dropdown {
 	display: inline-block;
   text-align: left;
 }

 .dropdown-content {
 	display: none;
 	position: absolute;
 	background-color: transparent;
 	min-width: 150px;
 	z-index: 1;
 }

 .dropdown-content a {
 	color: white;
 	padding:12px 16px;
 	text-decoration: none;
 	display: block;
 }

 .dropdown:hover .dropdown-content {display:block;}

 .dropdown:hover .dropbtn {background-color:transparent;}

 .dropdown-content a:hover {background-color: transparent;}



/*KONTAKT*/

.contact
{
  padding: 10px;
  margin-top:130px;
}

.contact h2 {
  font-size:24px;
  line-height:5px;
  margin-top: 0px;
  padding-top: 60px;
    margin-bottom: -30px;
  text-align: center;
  color: white; 

}

form {
  margin-top:50px;
  padding:22px;
  font-family: montserrat;

}

::placeholder { 
   color:    #fff;
}

.box
{
  width:550px;
  top:50%;
  left:50%;
  background:transparent;
  border:none;
  outline:none;
  border-bottom:1px solid #fff;
  color: #fff;
  font-size:20px;
  margin: 8px 0;
}


.box1 {
  width:450px;
  margin-left: 3%;
  top:50%;
  left:50%;
  background:#fff;
  border-color: transparent;
  color: #bd2b23;
  font-size: 20px;
  font-weight:  bold;
  height:50px;
  margin-top:30px;
    margin-bottom: 10px;
  font-weight:  bold;
  letter-spacing: 2px;
  cursor: pointer;
  text-align: center;
  border-radius: 5px;
}

input
{
  height:60px;
  font-family: montserrat;

}

textarea {
  font-family: montserrat;
}


.box1:hover
{
  background-color: #f3f1ef;
  cursor:pointer;
}

.width {
    width: 600px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid ;
background: rgb(189,43,35);
background: linear-gradient(55deg, rgba(189,43,35,0.7) 2%, rgba(255,74,64,0.7) 97%);
border-color: #fff;
  font-family: montserrat;
}



.alert2 {
  margin-top: 10px;
  padding:20px;
  background-color: green;
  color: white;

}

.closbtn {
  margin-top: 10px;
  margin-left: 15px;
  color:white;
  float: right;
  font-size: 22px;
  cursor: pointer;
  transition: 0.4s;
}

form .submit
{
  border: none;
  color: white;
  font-size: 20px;
  font-weight:  bold;
  letter-spacing: 2px;
  height:50px;
  margin-top:20px;
  cursor: pointer;
  text-align: center;
  padding-top: 10px;
  border-radius: 5px;
}

form .submit:hover
{
  cursor:pointer;
}



.column {
  float: left;
  width: 50%;
  padding: 5px;
}



/* FOOTER */

#footerContainer {

background-color: #60A3BC;
  width: 100%;
  padding-right: 7%;
  padding-left: 8%;
  position: relative;
  left: -1%;
  padding-top: 0.6%;
  padding-bottom: 2%;
  margin: 0px auto;
  height: 20px;
  color: #FFF;
  font-weight: bold;
  text-align: left;
}

#footerContainer table {
  width: 100%;
}

#footerContainer table tr td {
  vertical-align: middle;
    color: #fff;
    font-weight: bold;
}

#footerContainer table tr td img {
  width: 10px;
}

footer {
  width: 100%;
  padding-right: 6%;
  padding-left: 6%;
  position: relative;
  left: -1%;
  padding-top: 1%;
  padding-bottom: 2%;
  margin: 0px auto;
  background-color: #f3f1ef;
  color: #707070;
  height: 150px;
  text-align: left;
}

footer table {
  width: 90%;
}

footer table tr td {
  width: 30%;
  padding-right: 10%;
    padding-top: 0.5%;
}



