
* {
    box-sizing: border-box;
}

body {
	background-color: #fff;
	font-family: 'Montserrat', sans-serif;
	overflow-x: hidden;
    color: #505050;
     margin: 0px;
}


#logo {
 position: absolute;
 top: 30px;
}

#logo img {
 width: 150px;
}



.contact
{
  padding: 10px;
  overflow: hidden;
  margin-top:100px;
  color:white;
}

.contact h1{
  font-size:24px;
  line-height:5px;
}

form {
  margin-top:50px;
  padding:22px;

}

.box
{
  width:450px;
  top:50%;
  left:50%;
  background:transparent;
  border:none;
  outline:none;
  border-bottom:1px solid #2196f3;
  font-size:20px;
  margin: 8px 0;
}


.box1 {
  width:450px;
  top:50%;
  left:50%;
  background:orange;
  border-color: transparent;
  color: white;
  font-size: 20px;
  font-weight:  bold;
  height:40px;
  margin-top:15px;

}

input
{
  height:60px;

}


.box1:hover
{
  background-color: blue;
  cursor:pointer;
}


.width {
    width: 500px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid teal;
    background-color: #e6ffff;
}



.alert2 {

  margin-top: 10px;
  padding:20px;
  background-color: green;
  color: white;

}

.closbtn {
  margin-top: 10px;
  margin-left: 15px;
  color:white;
  float: right;
  font-size: 22px;
  cursor: pointer;
  transition: 0.4s;
}

.form-control
{

  width:300px;
  background:transparent;
  border:none;
  outline:none;
  border-bottom:2px solid white;
  color: white;
  font-size:10px;
  margin-bottom:10px;
  padding-right: 20px;
}

input
{
  height:30px;

}

form .submit
{
  background:red;
  border-color: none;
  color: white;
  font-size: 20px;
  font-weight:  bold;
  letter-spacing: 2px;
  height:50px;
  margin-top:20px;
  cursor: pointer;
  text-align: center;
  padding-top: 10px;
  border-radius: 5px;
}

form .submit:hover
{
  background-color: #3d92fe;
  cursor:pointer;
}



.column {
  float: left;
  width: 50%;
  padding: 5px;
}


/* FOOTER */

#footerContainer {

background-color: #60A3BC;
  width: 102%;
  padding-right: 7%;
  padding-left: 8%;
  position: relative;
  left: -1%;
  padding-top: 0.6%;
  padding-bottom: 2%;
  margin: 0px auto;
  height: 20px;
  color: #FFF;
  font-weight: bold;
}

#footerContainer table {
  width: 105%;
}

#footerContainer table tr td {
  vertical-align: middle;
    color: #fff;
    font-weight: bold;
}

#footerContainer table tr td img {
  width: 10px;
}

footer {
  width: 102%;
  padding-right: 8%;
  padding-left: 8%;
  position: relative;
  left: -1%;
  padding-top: 1%;
  padding-bottom: 2%;
  margin: 0px auto;
  background-color: #f3f1ef;
  color: #707070;
  height: 150px;
}

footer table {
  width: 100.5%;
}

footer table tr td {
  width: 39%;
  padding-right: 10%;
    padding-top: 0.5%;
}


/* HEADER & NAVIGATION */

 header {
 	width: 100%;
 	padding-top: 0px;
 	margin-bottom: 775px;
 	position: absolute;
 	top: 0;
 	left: 0;
    z-index: 1;
 }


 #headerWrap {
 	width: 90%;
 	margin: 0px auto;
 	background-color: #FFF;
 }

 #logo {
 	position: absolute;
 	top: 20px;
 }

 #logo img {
 	width: 110px;
 }

 #navigation {
 	width: 1920px;
 	height: 100px;
 	padding: 400px;
 	float: left;
 	padding-top: 40px;


 }

 #navigation a {
 	color: #fff;


 }

 #navigation a:hover {
 	color: #FFF;
 	opacity: 0.8;
 }

 #navigation img {
 	width: 15px;
 }

 #navigation ol {
 	padding: 0px;
 	margin: 0px;
 	list-style-type: none;


 }

 #navigation ol li {

 	font-family: 'Montserrat', sans-serif;
 	font-size: 16px;
 	margin-right: 45px;
 	color: white;

 }

 .dropDownSymbol {
 	width: 10px;
 }


 .dropbtn {
 	background-color: transparent;

 	padding: 15px;
 	border:none;
 }


 .dropdown {
 	display: inline-block;


 }

 .dropdown-content {
 	display: none;
 	position: absolute;
 	background-color: #4c8296;
 	min-width: 150px;
 	z-index: 1;

 }

 .dropdown-content a {
 	color: white;
 	padding:12px 16px;
 	text-decoration: none;
 	display: block;
 }

 .dropdown:hover .dropdown-content {display:block;}

 .dropdown:hover .dropbtn {background-color:transparent;}

 .dropdown-content a:hover {background-color: transparent;}
